# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# CT-FM Repo / Data / outputs / large artifacts 
CT-FM/
data/
outputs/
Papers/
*.nii
*.nii.gz
*.dcm
*.pt
*.pth
*.ckpt
*.npy
*.npz
*.pkl
.vscode/
